<h1 class="row d-flex justify-content-center align-items-center">User Login</h1>

<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-5">
            <form asp-action="UserLogin" asp-controller="Auth" method="Post">
                <label>Email</label>
                <input type="email" name="UserEmail" class="form-control" />
                <label>Password</label>
                <input type="password" name="Password" class="form-control mb-3" />
                <button class="btn btn-success mb-2 align-items-center" type="submit">Login</button><br />
            </form>
        </div>
    </div>
</div>